<% content_for :scripts do %>
  <%= javascript_include_tag :utils, defer: true %>
<% end %>
<% if @invoices.empty? %>
  <div class="card bg-light">
    <h5 class="card-header"><%= t 'call_for_action.header' %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= t 'call_for_action.title', model_name: Invoice.model_name.plural %></h5>
      <p class="card-text"><%= t 'call_for_action.text', model_name: Invoice.model_name.singular %></p>
      <%= link_to t('call_for_action.add'), new_invoice_path, class: "btn btn-primary" %>
    </div>
  </div>

<% else %>
  <%= link_to t('call_for_action.add'), new_invoice_path, class: "btn btn-primary" %>
  <div class="table-responsive-sm">
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th><i class="mr-2 far fa-question-circle" data-toggle="tooltip" data-placement="top"
                 title="<%= t '.payment_tooltip' %>"></i> <%= t '.invoice_id' %></th>
          <th><%= t 'simple_form.labels.client.name' %></th>
          <th><%= t '.total' %></th>
          <th><%= t '.actions' %></th>
        </tr>
      </thead>

      <tbody>
        <% @invoices.each do |invoice| %>
          <tr data-href="<%= invoice_path(invoice, format: :pdf) %>">
            <td>
              <% if invoice.is_invoice_paid? %>
                <i class="mr-2 text-success far fa-check-circle"></i>
              <% else %>
                <i class="mr-2 text-danger fas fa-ban"></i>
              <% end %>
              <%= invoice.invoice_id %></td>
            <td class="text-nowrap"><%= invoice.client.name %></td>
            <td><%= Utils.format_currency(invoice.total) %></td>
            <td class="text-nowrap">
              <% unless invoice.is_invoice_paid? %>
                <%= link_to "Mark as paid", mark_as_paid_invoice_path(invoice, page: params[:page]),
                            class: 'btn btn-sm btn-success', method: :put %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
<% end %>
