<% content_for :scripts do %>
  <%= javascript_include_tag :utils, defer: true %>
<% end %>
<% if @invoices.empty? %>
  beep

<% else %>
  <%= link_to t('call_for_action.add'), new_invoice_path, class: "btn btn-primary" %>
  <table class="table table-hover mt-3">
    <thead>
      <tr class="d-flex">
        <th class="col"><%= t '.invoice_id' %></th>
        <th class="col"><%= t 'simple_form.labels.client.name' %></th>
        <th class="col"><%= t 'simple_form.labels.invoice.sum' %></th>
      </tr>
    </thead>

    <tbody>
      <% @invoices.each do |invoice| %>
        <tr class="d-flex" data-href="<%= invoice_path(invoice, format: :pdf) %>">
          <td class="col"><%= invoice.invoice_id %></td>
          <td class="col"><%= invoice.client.name %></td>
          <td class="col"><%= invoice.due_date %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
