<% content_for :scripts do %>
  <%= javascript_include_tag :invoices, defer: true %>
<% end %>
<div class="col-md-10 offset-md-1">
  <h1><%= t ".heading" %></h1>
  <%= form_with model: @invoice, local: true do |form| %>
    <div class="card mb-5">
      <h5 class="card-header"><i class="fas fa-user-tie"></i> <%= t ".client_details" %></h5>
      <div class="card-body">
        <div id="search" class="form-group">
          <%= label_tag "search_client", t(".search") %>
          <%= text_field_tag "search_client", nil, class: "form-control", autocomplete: "off" %>
          <div class="col-auto">
            <div id="found_clients" class="form-group dropdown-menu border-top-0 rounded-0">
            </div>
          </div>
        </div>
        <div id="selected_client">
        </div>
        <%= form.hidden_field :client_id %>
      </div>
      <div id="invoice-container" class="d-none">
        <h5 class="card-header border-top">
          <i class="fas fa-clipboard-list"></i> <%= t ".invoice_details" %>
        </h5>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :issue_date %>
            <%= form.date_field :issue_date, value: Date.today, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :invoice_items %>
            <%= form.fields_for :invoice_items do |item_fields| %>
              <div class="card bg-light mb-3">
                <div class="mr-2">
                  <span class="text-danger close" aria-label="Close">&times;</span>
                </div>
                <div class="card-body py-0">
                  <div class="form-row">
                    <div class="form-group col-md-10">
                      <%= item_fields.label :price_id %>
                      <%= item_fields.collection_select :price_id, Price.where(is_active: true), :id, :description_with_price,
                          {include_blank: true}, class: "form-control" %>
                    </div>
                    <div class="form-group col-md-2">
                      <%= item_fields.label :quantity %>
                      <%= item_fields.number_field :quantity, step: 0.5, class: "form-control" %>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
