<% content_for :scripts do %>
  <%= javascript_include_tag :utils, defer: true %>
<% end %>
<% if @clients.empty? %>
  <div class="card bg-light">
    <h5 class="card-header">Oh no!</h5>
    <div class="card-body">
      <h5 class="card-title">Looks like there are no clients.</h5>
      <p class="card-text">To create a new client, click on the button below.</p>
      <%= link_to 'Add', new_client_path, class: "btn btn-primary" %>
    </div>
  </div>
<% else %>
  <h2>Clients</h2>
  <%= form_tag remove_clients_path, method: :delete do %>
    <%= link_to 'Add', new_client_path, class: "btn btn-primary" %>
    <%= submit_tag "Remove", class: "btn btn-primary" %>
    <table class="table table-hover mt-3">
      <thead>
        <tr>
          <th>[]</th>
          <th class="col">Name</th>
        </tr>
      </thead>

      <tbody>
        <% @clients.each do |client| %>
          <tr>
            <td><%= check_box_tag "ids[]", client.id %></td>
            <td data-href="<%= client_path(client) %>"><%= client.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
