<div class="col">
  <div class="card bg-light">
    <h3 class="card-header">
      <i class="fas fa-user-tie"></i> <%= @client.name %><span class="text-muted"> - <%= @client.nick_name %></span>
      <%= link_to edit_client_path, class: "float-right" do %>
        <i class="fas fa-edit"></i>
      <% end %>
    </h3>
    <div class="card-body">
      <strong class="text-secondary"><%= t "simple_form.labels.client.email_address" %>:</strong><br>
      <%= @client.email_address %><br>
      <strong class="text-secondary"><i class="far fa-address-card"></i> <%= t "simple_form.labels.client.address" %>:</strong><br>
      <% @client.address.compact_lines.each do |address_line| %>
        <%= address_line %><br>
      <% end %>
    </div>
  </div>
</div>
