<% content_for :scripts do %>
  <%= javascript_include_tag :utils, defer: true %>
<% end %>
<% if @clients.empty? %>
  <div class="card bg-light">
    <h5 class="card-header"><%= t 'call_for_action.header' %></h5>
    <div class="card-body">
      <h5 class="card-title"><%= t 'call_for_action.title', model_name: Client.model_name.plural %></h5>
      <p class="card-text"><%= t 'call_for_action.text', model_name: Client.model_name.singular %></p>
      <%= link_to t('call_for_action.add'), new_client_path, class: "btn btn-primary" %>
    </div>
  </div>
<% else %>
  <%= link_to t('call_for_action.add'), new_client_path, class: "btn btn-primary" %>
  <table class="table table-hover mt-3">
    <thead>
      <tr>
        <th class="col"><%= t 'simple_form.labels.client.name' %></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td data-href="<%= client_path(client) %>"><%= client.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
